@for (item of items; track $index) {
  @switch (type) {
    @case ('card') {
      <div class="sk-card">
        <div class="sk-line w-40"></div>
        <div class="sk-line w-70"></div>
        <div class="sk-line w-55"></div>
        <div class="sk-bottom">
          <div class="sk-line w-30"></div>
          <div class="sk-btn"></div>
        </div>
      </div>
    }
    @case ('avatar') {
      <div class="sk-avatar-wrap">
        <div class="sk-avatar"></div>
        <div class="sk-line w-60"></div>
      </div>
    }
    @case ('table-row') {
      <div class="sk-row">
        <div class="sk-circle"></div>
        <div class="sk-line w-50"></div>
        <div class="sk-line w-20"></div>
        <div class="sk-line w-25"></div>
      </div>
    }
    @default {
      <div class="sk-line" [class]="'w-' + (70 + ($index % 3) * 10)"></div>
    }
  }
}
