<div
  class="card"
  [class.face-down]="faceDown"
  [class.selected]="selected"
  [class.disabled]="disabled"
  [class.animate-in]="animateIn"
  [class.flipping]="flipping"
  (click)="!disabled && cardClick.emit()"
  [attr.aria-label]="faceDown ? 'Carta boca abajo' : label"
>
  <div class="card-inner">
    <div class="card-front">
      <img [src]="imageSrc" [alt]="label" class="card-img" />
    </div>
    <div class="card-back">
      <img src="/assets/cards/back.webp" alt="Reverso" class="card-img" />
    </div>
  </div>
</div>
